:root {
  --clr-primary-100: #d5966c;

  --clr-neutral-100: #151515;
  --clr-neutral-200: #444444;
  --clr-neutral-300: #ffffff;

  --fs-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --fs-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --fs-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --fs-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --fs-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --fs-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --fs-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --fs-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  --ff-primary-100: "Big Shoulders Display", cursive;
  --ff-primary-200: "Outfit", sans-serif;
}

/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-size: inherit;
}

h1,
h2,
h3,
p {
  color: var(--clr-neutral-100);
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: var(--ff-primary-100);
  line-height: 1;
  font-weight: var(--fw-black);
}

h1 {
  font-size: var(--fs-1000);
  margin-top: 32px;
}

h2 {
  font-size: var(--fs-900);
}

h3 {
  font-size: var(--fs-800);
}

p {
  font-size: var(--fs-500);
  font-family: var(--ff-primary-200);
  font-weight: var(--fw-light);
}

/* hero */
.hero_content {
  margin: 0 16px 0 16px;
}

.hero_content p {
  margin-top: 24px;
}

/* grid display */
picture {
  margin: 0 16px 16px 16px;
}

.your_day {
  margin: 32px 16px 32px 16px;
}

.your_day p {
  padding: 16px 0 0 0;
}

.be_inspired {
  background-color: var(--clr-neutral-100);
  padding: 16px;
  margin: 16px 16px 0 16px;
}

.be_inspired h2 {
  color: var(--clr-neutral-300);
  padding-top: 24px;
}

.be_inspired p {
  color: var(--clr-neutral-300);
  padding: 16px 0 24px 0;
}

@media (min-width: 716px) {
  .grid_display {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }

  .your_day {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .img_grid-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .img_grid-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .img_grid-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .be_inspired {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

/* footer */
footer {
  background-color: var(--clr-neutral-100);
  padding: 32px 16px 32px 16px;
  margin-top: 64px;
}

footer h3,
footer p {
  color: var(--clr-neutral-300);
}

footer p {
  margin-top: 16px;
  max-width: 281px;
}

.footer_icons {
  display: flex;
  margin-top: 32px;
}

.footer_icons img {
  width: 20px;
  height: 20px;
}

.footer_icons img:nth-child(even) {
  margin: 0 16px 0 16px;
}

@media (min-width: 716px) {
  .footer_grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 2rem;
    max-width: 1110px;
    margin: 0 auto;
  }

  footer p {
    margin-top: 0;
    max-width: 281px;
  }

  footer h3 {
    margin-top: 8px;
  }

  .footer_icons {
    margin-top: 8px;
    justify-content: flex-end;
  }
}

@media (min-width: 1110px) {
  footer p {
    max-width: 430px;
  }
}
